.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.left{
    margin-left: 170px;
    height: auto;
}
.left h1{
    font-size: 60px;
    color: rgb(33, 32, 32);
    font-weight: 600;
}
.left p{
    color: rgb(126, 123, 123);
    font-size: 19px;
    font-weight: 500;
}
.left button{
    border: none;
    padding: 18px 30px;
    background-color: tomato;
    border-radius: 9px;
    box-shadow: 0 10px 5px -1px rgba(247, 171, 184, 0.905);
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-top: 34px;
}
.right img{
    width: 90%;
    margin-left: 40px;
    background-image:radial-gradient(pink,white);
    border: 1px solid rgb(239, 231, 231);
    border-radius: 15px;
}

.banner {
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    position: relative;
}
.banner img{
    width: 100vw;
    height: 350px;
}
.middle{
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 80px;
}
.first-div, .second-div, .third-div{
    width: 270px;
    padding: 30px;
    font-style: italic;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.first-div img{
    width: 100px;
    height: 18px;
    margin-top: 36px;
    margin-left: 36px;
}
.vertical{ 
    width:1.8px; 
    height: 170px; 
    background-color: rgb(212, 209, 209); 
}
.second-div img{
    width: 60px;
    height: 27px;
    margin-top: 36px;
    margin-left: 36px;
}
.third-div img{
    width: 100px;
    height: 18px;
    margin-top: 50px;
    margin-left: 36px;
}